*{
	.box-sizing();
}
html, body{
	height: 100%;
	font-family: 'lato' sans-serif;
	font-weight: @fw-hairline;
	font-style: normal;
	font-size: 18px;
}
h1, h2{
	margin-top: 0;
	margin-bottom: 0;
}

#main-wrapper{
	min-height: 100%;
	position: relative;
}
#main-content{
	padding-bottom: @h-footer;	
}

#main-footer{
	height: @h-footer;
	position: absolute;
	bottom: 0; right: 0;left: 0;
}

